[Unit]
Description=InsightPilot Backend FastAPI Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/inp-backend/inp-backend
Environment="PATH=/var/www/inp-backend/inp-backend/.venv/bin"
ExecStart=/var/www/inp-backend/inp-backend/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 